<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chm.kd.kq.mapper.GroupSwitchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chm.kd.kq.entity.GroupSwitch">
        <id column="ID" property="id"/>
        <result column="GROUP_ID" property="groupId"/>
        <result column="MAIN_SWITCH" property="mainSwitch"/>
        <result column="QUESTION_SWITCH" property="questionSwitch"/>
        <result column="JOIN_SWITCH" property="joinSwitch"/>
        <result column="QUIT_SWITCH" property="quitSwitch"/>
        <result column="MODIFY_CARD_SWITCH" property="modifyCardSwitch"/>
        <result column="REMIND_SWITCH" property="remindSwitch"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, GROUP_ID, MAIN_SWITCH, QUESTION_SWITCH, JOIN_SWITCH, QUIT_SWITCH, MODIFY_CARD_SWITCH, REMIND_SWITCH
    </sql>

</mapper>
